@font-face {
   font-family: 'Bw Modelica SS01';
   src: url('../fonts/BwModelicaSS01-BoldItalic.otf')
}
@font-face {
   font-family: 'Bw Modelica SS01 Bold';
   src: url('../fonts/BwModelicaSS01-Bold.otf')
}
